body {
    font-family: 'Lato';
    background: rgba(1, 10, 14, 0.91);
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    font-family: 'static-font', sans-serif;
    padding-bottom: 15px;
    color: white;
}
section {
    color: #FFF;
    margin-bottom: 70px;
    padding-top: 5%;
    padding-bottom: 15%;
}

section .container {
    display: block;
    margin: auto 15%;
}
section h2 {
    font-size: 2.25rem;
    line-height: 2rem;

}

section h3 {

    font-size: 90%;
    font-family: 'static-font', sans-serif;
    text-align: left;
    font-style: italic;
    color: mediumspringgreen;
    vertical-align: baseline;
}

@media (min-width: 992px) {
    section h2 {
        font-size: 3rem;
        line-height: 2.5rem;
    }
}
path {
    fill: #ffffff;
}

/*
=======================
  Svg icons fill styles
=======================
   */
.path-green {
    fill: #0e945e;
}

.resume {
    font-size: 15px;
    font-family: Arial, sans-serif;
}

/*
=======================
  Box grid styles
=======================
   */
.box {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    margin-top: 10%;
}

@media (max-width: 450px) {
    .box {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        margin-top: 10%;
    }
}

.box svg path {
    fill: #0e945e;
}

.box svg rect {
    fill: #0e945e;
}

.box-excodes {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin-top: 10%;

}

.box-excodes h2 {
    font-size: 100%;
    font-family: 'static-font', sans-serif;
    color: rgba(255, 255, 255, 0.92);
    text-align: center;
}

.excode-block {
    cursor: pointer;
    color: #FFF;
    font-size: 2em;
    transition: all 0.3s linear;
    text-align: center;

}

.excode-thumb {
    width: 190px;
    border-radius: 8%;
    transition: all 0.3s linear;
}

.excode-thumb:hover {
    opacity: 50%;
}

/*

/*=======================
       Tabs style
=======================*/
.tabs {
    display: ruby;
    list-style: none;
    padding-left: 0;
    padding-top: 15px;
}

@media (max-width: 928px) {
    .tabs {
        display: contents;
    }
}

.tabs a {
    text-decoration: none;
    border-bottom: 1px solid #000000;
    color: black;
    padding: 20px 20px;
    display: flex;
}

.tabs li:not('is-active') a:hover {
    color: #0e945e;
    border-bottom: #0e945e;
}

ul .is-active a {
    background-color: #0e945e;
    color: white;
    transition: all ease 0.5s;
}

.tab-details {
    margin-top: 6%;
}

/*=======================
      pre language class
=======================*/
pre[rel]::before{
    content: attr(rel);
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #e18728;
    font-family: 'Gotham Rounded A', 'Gotham Rounded B', sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 5px 0;
    text-indent: 15px;
}
pre[rel] {
    padding-top: 33px;
}
pre {
    overflow: auto;
    color: white;
    background: #1d1f21;
    padding: 0;
    font-size: 0.8rem;
    font-family: Menlo, Monaco, monospace;
    -moz-tab-size: 2;
    -o-tab-size: 2;
    tab-size: 2;
    -ms-word-break: normal;
    word-break: normal;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    position: relative;
}
p, pre {
    margin: 0 0 20px 0;
}
pre code {
    font-family: Menlo, Monaco, monospace;
    background: none;
    padding: 15px;
    white-space: pre;
    overflow: auto;
    display: block;
}
.language-css {
    color: #41a4c3;
}

.language-php {
    color: #b75bd9;
}

.language-twig {
    color: #0fd42a;
}

.language-vue {
    color: #24b985;
}
    /***********************************************************************
     *  Nav Bar
     **********************************************************************/
.main-nav {
    display: flex;
    list-style: none;
    margin: 0;
    font-size: 0.7em;
    color: #ffffff;
    padding-left: 20px;
    padding-top: 10px;
}

@media (min-width: 462px) {
    .main-nav {
        display: none;
    }
    .sidebar-language
    {
        display: none;
    }
}
@media (max-width: 462px) {
    .navbar-language {
        display: none;
    }
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}


.btn-xl {
    padding: 1rem 1.75rem;
    font-size: 1.25rem;
}

.btn-social {
    width: 3.25rem;
    height: 3.25rem;
    font-size: 1.25rem;
    line-height: 2rem;
}

.scroll-to-top {
    z-index: 1042;
    right: 1rem;
    bottom: 1rem;
    display: none;
}

.scroll-to-top a {
    width: 3.5rem;
    height: 3.5rem;
    background-color: rgba(33, 37, 41, 0.5);
    line-height: 3.1rem;
}

@media (min-width: 462px) {
    #toggle-button-nav {
        display: none;
    }
}

#mainNav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 300;
    font-family: 'myweb-font';
}

#mainNav .navbar-brand {
    color: #fff;
}

#mainNav .navbar-nav {
    margin-top: 1rem;
    /*letter-spacing: 0.0625rem;*/
}

#mainNav .navbar-nav .nav-link {
    color: #fff;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
    color: #bc8a00;
}

#mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
    color: #fff;
}

#mainNav .navbar-nav li.nav-item a.nav-link.active {
    color: #bc9200;
}

#mainNav .navbar-toggler {
    font-size: 80%;
    padding: 0.8rem;
}

@media (min-width: 100px) {
    #mainNav {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
        -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
        transition: padding-top 0.3s, padding-bottom 0.3s;
        color: white;
    }

    #mainNav .navbar-brand {
        font-size: 1em;
        -webkit-transition: font-size 0.3s;
        -moz-transition: font-size 0.3s;
        transition: font-size 0.3s;
    }

    #mainNav .navbar-nav {
        display: inline-flex;
        align-items: center;
        color: currentColor;
        margin-top: 0;
    }

    @media (max-width: 390px) {
        #mainNav .navbar-nav {
            display: none;

        }
    }

    #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
        color: #fff;
        background: #18BC9C;
    }

    #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
        color: #fff;
        background: #18BC9C;
    }

    #mainNav.navbar-shrink {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        color: black;
        background: white;
    }

    #mainNav.navbar-shrink .navbar-brand {
        color: #000000;
    }

    #mainNav.navbar-shrink .logo {
        fill: black;
    }

    #mainNav.navbar-shrink .nav-link {
        color: #000000;
    }
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
}

.nav-link:hover, .nav-link:focus {
    text-decoration: none;
    color: #0e945e;
}

.footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #2C3E50;
    color: #fff;
}

.copyright {
    background-color: #1a252f;
}

/*====================
  buttons
 ====================
*/
a {
    color: #ffffff;
    font-family: 'static-font';
}

a:focus, a:hover, a:active {
    color: #0e945e;
    fill: #0e945e;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


.btn:hover {
    color: #212529;
    text-decoration: none;
}

.btn:focus, .btn.focus {
    outline: 0;
    box-shadow: none;
}

.btn.disabled, .btn:disabled {
    opacity: 0.65;
    box-shadow: none;
}

.btn:not(:disabled):not(.disabled):active, .btn:not(:disabled):not(.disabled).active {
    box-shadow: none;
}

a.btn.disabled,
fieldset:disabled a.btn {
    pointer-events: none;
}

.btn-primary {
    color: #ffffff;
    background-color: #24b985;
    border-color: #24b985;
    box-shadow: none;
}

.btn-primary:hover {
    color: #ffffff;
    background-color: #0e945e;
    border-color: #0e945e;
}

.btn-primary:focus, .btn-primary.focus {
    color: #ffffff;
    background-color: #0e945e;
    border-color: #0e945e;
    box-shadow: 0 0 0 0 rgba(36, 185, 133, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
    color: rgba(255, 47, 39, 0);
    background-color: #24b985;
    border-color: #24b985;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    color: #ffffff;
    background-color: #0e945e;
    border-color: #0e945e;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0 rgba(36, 185, 133, 0.5);
}

.bg-primary {
    background-color: rgba(1, 10, 14, 0.91);
}

.bg-secondary {
    background-color: #2C3E50 !important;
}

.text-primary {
    color: #18BC9C !important;
}

.text-secondary {
    color: #2C3E50 !important;
}

.btn-primary {
    background-color: #18BC9C;
    border-color: #18BC9C;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #128f76;
    border-color: #128f76;
}

.btn-secondary {
    background-color: #2C3E50;
    border-color: #2C3E50;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
    background-color: #1a252f;
    border-color: #1a252f;
}

/*=======================
     style added
  =======================*/

.fs-content {
    position: absolute;
    top: -2rem;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 11rem;
    padding-right: 2.5rem;
    padding-bottom: 2.5rem;
    padding-left: 2.5rem;
    font-family: "static-font", sans-serif;
    font-size: 2em;
}

.fs-content-top {
    padding-left: 5%;
}

.fs-content-bottom-text {
    font-family: "static-font", sans-serif;
}

.fs-content-bottom-text::after {
    content: "↓";
    display: block;
    padding-top: 1.25rem;

}

.fs-logo {
    width: 9rem;
    height: auto;
    fill: white;
}

.logo {
    display: block;
    width: auto;
    height: 3.5rem;
    fill: white;
    width: 120px;
    height: 70px;
}

@media (max-width: 389px) {
    .logo {
        margin-left: 15px;
        width: auto;
        height: 3.5rem;
        fill: white;
        width: 120px;
        height: 70px;
    }
}

*::after, *::before {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*sections*/

.fullscreen {
    width: auto;
    height: 100vh;
    position: relative;
}

.bg-header {
    background-image: url("../img/assets/header.jpg");
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 500;

}

.text {
    margin-left: 1rem;
    margin-right: 1rem;
    font-family: 'static-font'
}

.bg-header:after {
    content: '';
    z-index: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.20);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
/*
=================
fonts
================
*/
@font-face {
    font-family: 'static-font';
    src: url('../fonts/DidactGothic-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'irregular-font';
    src: url('../fonts/AveriaSerifLibre-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'irregular-font-bold';
    src: url('../fonts/AveriaSerifLibre-Regular.ttf') format('truetype');
}
/*
=================
wrapper
================
*/
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

@media (max-width: 462px) {
    #wrapper.toggled {
        padding-left: 150px;

    }

    #sidebar-wrapper {
        z-index: 1000;
        position: fixed;
        left: 250px;
        width: 0;
        height: 100%;
        margin-left: -250px;
        overflow-y: auto;
        background: #000;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    #page-content-wrapper {
        left: 0;
    }
}

#wrapper.toggled #sidebar-wrapper {
    width: 150px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 0px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

@media (max-width: 349px) {
    #wrapper.toggled {
        padding-left: 60px;
    }

    #sidebar-wrapper {
        z-index: 1000;
        position: fixed;
        width: 0;
        height: 100%;
        margin-left: -250px;
        overflow-y: auto;
        background: #000;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 60px;
    }
}

/* Sidebar Styles */

@media {
    .sidebar-nav {
        padding-top: 50px;
        position: revert;
        top: 0;
        width: 200px;
        margin: 1em 0em 0em 0em;
        list-style: none;
        padding-left: 0;
        overflow-x: hidden;
        overflow-y: hidden;
    }
}

.sidebar-nav li {
     margin-top:7% ;
 }

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #0e945e;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
    color: #0e945e;
}

.sidebar-nav li a i {
    font-size: 30px;
    margin-right: 15px;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media (min-width: 390px) {
    .sidebar-nav .links {
        display: none;
    }

}

@media (min-width: 462px) {
    #wrapper {
        padding-left: 0;
    }

    #wrapper.toggled {
        padding-left: 150px;
    }

    #sidebar-wrapper {
        width: 60px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 150px;
    }

    #page-content-wrapper {
        padding: 0px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
    .sidebar-nav li {
        margin-top:15% ;
    }

}

.segment-title {
    font-size: 25px;
    text-transform: capitalize;
}

.position-fixed {
    position: fixed !important
}


